.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

main .section.columns-container[data-hs-brand-theme="reeses"] {
  background-color: var(--hs-reese-background-color);
  color: var(--hs-reese-text-color);
}

main .section.columns-container[data-hs-brand-theme="reeses"] .button-container .button {
  background-color: var(--hs-reese-button-background-color);
  color: var(--hs-reese-button-text-color);
}

main .section.columns-container[data-hs-brand-theme="rolo"] {
  background-color: var(--hs-rolo-background-color);
  color: var(--hs-rolo-text-color);
}

main .section.columns-container[data-hs-brand-theme="rolo"] .button-container .button {
  background-color: var(--hs-rolo-button-background-color);
  color: var(--hs-rolo-button-text-color);
}
